<div class="grid place-items-center mt-12 md:gird-col w-screen">
	<div class="grid place-items-center mt-32">
		<p class="mb-4 mt-4 text-3xl font-bold">Forgot password?</p>
		<div class="flex justify-center p-2">
			Remember your password?
			<a
				routerLink="/sign-in"
				class="block ml-1 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
			>
				<p class="text-primary underline text-gray-500">Sign in here</p>
			</a>
		</div>
	</div>

	<div class="mb-8 mt-8 px-6 lg:px-16 xl:px-12 md:mx-auto md:mx-0 md:w-1/2 xl:w-2/5">
		<div class="w-full">
			<!-- [formGroup]="signInForm" -->
			<form class="from">
				<!-- Email input -->
				<div class="">
					<label
						for="email"
						class="text-gray-900 block mb-2"
						>Email
					</label>
					<input
						type="email"
						name="email"
						#passwordResetEmail
						id="email"
						placeholder="name@company.com"
						autofocus
						autocomplete
						class="w-full px-4 p-2.5 rounded border border-gray-300 text-gray-900 sm:text-sm focus:ring-gray-700 focus:border-gray-700 focus:outline-none"
						#userEmail
						required
					/>
				</div>

				<!-- Sign in button -->
				<button
					type="submit"
					name="sign-in-button"
					role="button"
					class="inline-flex items-center justify-center h-12 w-full mt-4 mb-1 px-6 font-medium tracking-wide text-white transition duration-200 bg-gray-900 rounded-lg hover:bg-gray-800 focus:shadow-outline focus:outline-none"
					(click)="forgotPassword(passwordResetEmail.value)"
				>
					Reset password
				</button>

				<p class="text-primary text-gray-500 ml-1">
					Please include a valid email address so we can get back to you
				</p>
			</form>
		</div>
	</div>
</div>
