# Editor configuration, see https://editorconfig.org | https://spec.editorconfig.org | https://devhints.io/editorconfig
root = true

[*]
charset = utf-8
max_line_length = 80
tab_width = 2
indent_size = 4
indent_style = tab
quote_type = double
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{*.ts, *.js}]
indent_size = 2
quote_type = single

[*.html]
max_line_length = 100


[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.py]
indent_size = 4
indent_style = space
quote_type = single

[*.php]
indent_size = 4

[*.blade.php]
indent_size = 2
