<nav
	class="fixed bg-black shadow-md z-50 w-full px-5 py-2 flex justify-between items-center"
	*ngIf="isAuthenticated"
>
	<div class="flex items-center justify-center">
		<div class="flex px-4 py-2">
			<img
				src="../../../../assets/capture.png"
				width="30"
				height="30"
			/>
		</div>

		<button
			type="button"
			routerLink="froala-editor"
			class="inline-block rounded px-2 pt-2.5 pb-2 text-xs text-white font-medium uppercase leading-normal text-primary hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700"
		>
			<a class="w-auto h-5 hover:opacity-75">Text Editor </a>
		</button>

		<button
			type="button"
			routerLink="dashboard"
			class="inline-block rounded px-2 pt-2.5 pb-2 text-xs text-white font-medium uppercase leading-normal text-primary hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700"
		>
			<a class="w-auto h-5 hover:opacity-75">Dashboard </a>
		</button>
	</div>

	<div class="flex">
		<button
			class="relative inline-flex items-center justify-start px-3 py-2 overflow-hidden font-medium transition-all bg-white rounded hover:bg-white group mr-2"
			(click)="openDialog()"
		>
			<span
				class="w-48 h-48 rounded rotate-[-40deg] bg-gray-700 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
			></span>
			<span
				class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
				>Add One</span
			>
		</button>

		<button
			type="button"
			routerLink="/"
			class="text-white bg-gray-700 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-white-300 font-medium rounded text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-white-600 dark:hover:bg-white-700 dark:focus:ring-white-800"
			(click)="signOut()"
		>
			<svg
				aria-hidden="true"
				class="w-5 h-5"
				fill="currentColor"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
					clip-rule="evenodd"
				></path>
			</svg>
			<span class="sr-only">Icon description</span>
		</button>
	</div>
</nav>

<router-outlet></router-outlet>
